body {
    /* Encriptador - 1 Desktop */
    position: relative;

    /* Light blue/light-blue-100 */
    background: #F3F5FC;
}

.logo {
    /* Logo */
    

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.muñeco {
    /* Muñeco */
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}